{% extends "article.layout.html" %}

{% block title %}[ADMIN] {{ title }}{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Msgs</th>
        <th>Created</th>
        <th>Updated</th>
        <th>By</th>
      </tr>
    </thead>
    <tbody>
      {% for rp in rps %}
      <tr>
        <td><a href="{{ docroot }}rp/{{ rp.ID }}">
          {% if rp.Title is empty %}[{{ rp.ID }}]{% else %}{{ rp.Title }}{% endif %}
        </a></td>
        <td>{{ rp.Num_Msgs }}</td>
        <td>{{ rp.Time_Created }}</td>
        <td>{{ rp.Time_Updated }}</td>
        <td>{{ rp.IP }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}