<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About - RP Now</title>
    <meta name="description" content="Technical details and credits for Roleplay Now.">
    <link rel="stylesheet" type="text/css" href="room.css">
  </head>
  <body class="article">
    <h1>About RP Now</h1>
    <p>
      <a href="https://rpnow.net/">RP Now</a> is an open-source web application that allows anyone to conduct a private <a href="http://en.wikipedia.org/wiki/Play-by-post_role-playing_game">text-based roleplay</a> with a small group of friends. It is specialized to allow for real-time play as well as for creation of multiple characters.
    </p>
    <h2>Contributors</h2>
    <ul>
      <li><a href="http://nigelnelson.me">Nigel Nelson</a> AKA <a href="http://184game.tumblr.com">Shamble Sides</a> &mdash; Lead project director, designer &amp; developer</li>
      <li>Sleepy Constellation &mdash; Design feedback</li>
      <li>Jackson Marriott &mdash; Feedback &amp; suggestions</li>
      <li>Hannah Liddell &mdash; Feedback &amp; suggestions</li>
      <li>Megan Monk &mdash; Feedback &amp; suggestions</li>
      <li>Svetlana Tovarisch &mdash; Feedback &amp; suggestions</li>
    </ul>
    <h2>Technologies</h2>
    <p>
      The RP Now back-end is built on <a href="http://httpd.apache.org/">Apache</a>, <a href="http://php.net/">PHP</a>, and <a href="https://www.mysql.com/">MySQL</a>: in other words, a <a href="http://en.wikipedia.org/wiki/LAMP_%28software_bundle%29">LAMP</a> server.
    </p>
    <p>
      The front-end is made entirely in <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5">HTML5</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a>, and <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a> &mdash; in other words, no browser plugins are required for the user to use this application. All they need is a <a href="http://browsehappy.com/">semi-modern web browser</a>.
    <h2>Libraries Used</h2>
    <p>RP Now also uses the following libraries.</p>
    <ul>
      <li><a href="http://www.slimframework.com/">Slim</a>: Slim is a PHP micro framework that helps you quickly write simple yet powerful web applications and APIs.
        <ul><li>... Along with Mika Tuupola's <a href="http://www.appelsiini.net/projects/slim-basic-auth">Slim-Basic-Auth</a> add-on.</li></ul>
      </li>
      <li><a href="http://twig.sensiolabs.org/">Twig</a>: The flexible, fast, and secure template engine for PHP</li>
      <li><a href="https://jquery.com/">jQuery</a>: jQuery is a fast, small, and feature-rich JavaScript library.</li>
      <li><a href="https://bgrins.github.io/spectrum/">Spectrum</a>: The No Hassle jQuery Colorpicker</li>
      <li><a href="http://momentjs.com/">Moment.js</a>: Parse, validate, manipulate, and display dates in JavaScript.</li>
    </ul>
    <h2>Additional Resources</h2>
    <p>
      Thanks to the following websites, technologies, and people for helping make this project possible.
    </p>
    <ul>
      <li><a href="http://www.wampserver.com/en/">WampServer</a> has been invaluable to me as a Windows user, allowing me to test this project locally.</li>
      <li><a href="https://cdnjs.com/">cdnjs</a> kindly hosts a large number of JavaScript and CSS libraries for free, including those used in RPNow.</li>
      <li><a href="http://24ways.org/2010/calculating-color-contrast/">Brian Suda's article</a> about color contrast was useful.</li>
      <li><a href="http://stackoverflow.com/">The good people of Stack Overflow</a> seem to always have just the right questions and answers when I'm stuck on something in particular.</li>
      <li><a href="http://bettermotherfuckingwebsite.com/">BetterMotherF***ingWebsite.com</a> inspired the minimal design.</li>
    </ul>
    <h2>Links</h2>
    <ul>
      <li><a href="https://rpnow.net/">RPNow.net (main site)</a></li>
      <li><a href="https://github.com/shamblesides/rpnow">RPNow GitHub repository</a></li>
      <li><a href="http://rpnow.tumblr.com/">RPNow Blog on Tumblr</a></li>
    </ul>
    <h2>License</h2>
    <p>RP Now is licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0-standalone.html">GNU General Public License (Version 3.0)</a>.</p>
  </body>
</html>