{% extends "article.layout.html" %}

{% block title %}About{% endblock %}
{% block description %}About RPNow{% endblock %}

{% block content %}
  <h1>About RPNow</h1>
  <p>
    <a href="https://rpnow.net/">RPNow</a> is the Dead-Simple Roleplay Chatroom Service. It is the <em>only</em> roleplay site that requires no user registration, supports multiple characters per user, keeps your roleplays permanents, and allows you to download the complete transcripts as text files.
  </p>
  <p>
    To start a roleplay, simply type in a title, and press the begin button! It's that simple! Don't believe us? <a href="https://rpnow.net">Try it!</a>
  <p>
    RPNow was written almost exclusively by Nigel Nelson, with special help from Hannah Liddell.
  </p>

  <h2>Donations</h2>
  <p>
    RPNow is entirely supported by user donations. <b>If you want to support RPNow, <a href="https://www.patreon.com/rpnow">please become my patron on Patreon!</a></b>
  </p>
  <p>
    The following people actively support RPNow by donating $5 or more per month:
  </p>
  <ul>
    <li>Desiree Braun</li>
    <li>Charlie and Elliott</li>
    <li>Diana Lennox</li>
    <li>Eli</li>
    <li>... and 1 other who chose not to be listed.</li>
  </ul>

  <h2>Links</h2>
  <ul>
    <li><a href="https://rpnow.net/">RPNow.net Homepage</a></li>
    <li><a href="http://blog.rpnow.net/">RPNow Tumblr blog</a> &mdash; Latest updates on RPNow development and community activities</li>
    <li><a href="https://github.com/rpnow/rpnow">RPNow on GitHub</a> &mdash; RPNow is open-source. You can check out its source code here.</li>
    <li><a href="https://www.patreon.com/rpnow">RPNow on Patreon</a> &mdash; Support RPNow development; become my patron!</li>
  </ul>
{% endblock %}