{% extends "room.layout.html" %}
{% set pageSelected = 'archive' %}

{% block title %}[PAGE {{ page }}] {{ title }}{% endblock %}

{% macro pages(docroot, room, page, numpages) %}
  {% if numpages > 1 %}
    <div class="pages">
      Page:
      {% for i in 1..numpages %}
        {% if i == page %}<b>{{ i }}</b>
        {% else %}<a href="{{ docroot }}rp/{{ room }}/{{ i }}">{{ i }}</a>{% endif %}
        {% if i != numpages %} | {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% block content %}
  {% if numpages == 0 %}
  <p>This RP has no content. Why not go back and <a href="{{ docroot }}{{ room }}">start writing</a>?</p>
  {% else %}
  {{ _self.pages(docroot, room, page, numpages) }}
  <div id="messages">
    <div class="info" id="loading">
      <p>Loading...</p>
    </div>
  </div>
  {{ _self.pages(docroot, room, page, numpages) }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
  <script src='{{ docroot }}rp.js'></script>
  <script>
    var rp = new RP('{{ room }}');
    rp.fetchPage({{ page }}, function(e) {
      $('#loading').hide();
      for(var i = 0; i < e.msgs.length; ++i) {
        $('#messages').append(e.msgs[i].createElement('absolute'));
      }
    });
  </script>
  {% endif %}
{% endblock %}