<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MAINTENANCE - RP Now</title>
  <style>body{background-color:#222;color:#ddd;margin:40px auto;padding:0 10px;max-width:650px;font-size: 18px;}h1{font-size:56px;}blockquote{border:solid 1px #444;border-left:solid 5px #555;margin:0 15px;padding:8px;}</style>
</head>
<body>
  <h1>Down for Maintenance.</h1>
  <p>RPNow is currently <strong>down for maintenance.</strong> Details given below:</p>
  <blockquote>
    {{ info|raw }}
  </blockquote> 
  <p>Thanks for visiting, and come back soon!</p>
</body>
</html>