{% extends "article.layout.html" %}

{% block title %}RP Fest!{% endblock %}
{% block description %}RPNow Festival!{% endblock %}

{% block content %}
  <h1>RP Fest!</h1>
  <p>Welcome to the first annual RP festival!</p>
  <p>Feel free to take some time to read some of the entrants to our roleplay contest and vote on your favorites.</p>
  <p>For more information, check our <a href="http://blog.rpnow.net/">tumblr blog!</a></p>
  <p><a style="font-size:200%;color:red" href="http://goo.gl/forms/pZRIl2n1BTm6jtAM2">Cast your votes here!</a></p>

  {% for type in ['Original Fluff', 'Original Angst', 'Fan Fluff', 'Fan Angst'] %}
  <div class="entry-category">
    <h2>{{ type }}</h2>
    {% for rp in rps %}
    {% if rp.type == type %}
    <div class="entry">
      <h3><a href="festival/{{ rp.url }}/1">{{ rp.title }}</a></h3>
      <p class="rating">Rating: {{ rp.rating }}</p>
      <p>{{ rp.desc }}</p>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
{% endblock %}