<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RPNow</title>
  <meta name="description" content="RPNow is a roleplay site where small groups of friends can instantly create private roleplaying chatrooms.">
  <link rel="stylesheet" type="text/css" href="room.css?v={{ version }}">
</head>
<body class="home">
  <form id="new-rp" action="create" method="post">
    <h1 id="home-title">RPNow</h1>
    <fieldset>
      <input type="text" id="rp-name" class="input-with-button" name="title" maxlength="30" placeholder="Type a Title..." required autocomplete=off>
      <button type="button" class="dice" onclick="document.querySelector('input[name=title]').value = RPRandom.shortTitle(25)">Random</button>
      </div>
    </fieldset>
    <fieldset class="hidden">
      <textarea name="desc" rows="5" maxlength="255" placeholder="Enter a Description... (Optional)" autocomplete=off></textarea>
    </fieldset>
    <fieldset>
      <input type="submit" value="Begin Roleplay"><button type="button" class="btn-submit">More options</button>
      <script>document.querySelector("button.btn-submit").addEventListener('click', function(evt) {
        document.querySelector("button.btn-submit").setAttribute('class', 'hidden');
        document.querySelector("input[type=submit]").setAttribute('style', 'width:100%');
        document.querySelector("fieldset.hidden").setAttribute('class', '');
      });
      </script>
    </fieldset>
    <p id="terms-info">By using this site, you agree to RPNow's <a href="terms" target="_blank">Terms and Privacy Policy</a>.</p>
  </form>

  <footer>
    <ul>
      <li><a href="about">About</a></li>
      <li><a href="http://blog.rpnow.net/" target="_blank">Blog</a></li>
      <li><a href="https://github.com/rpnow/rpnow" target="_blank">GitHub</a></li>
    </ul>
  </footer>
  <script src="rprandom.js?v={{ version }}"></script>
  <script src="motd.js?v={{ version }}"></script>
</body>
</html>