{% extends "article.layout.html" %}

{% block title %}RP Moved{% endblock %}

{% block content %}
  <h1><a href="{{ docroot }}rp/{{ newId }}">RP Moved!</a></h1>
  <p>
    All RPs have recently been <strong>moved to different URLs</strong>. From now on, you can find this RP at:
  </p>
  <a href="{{ docroot }}rp/{{ newId }}"><code style="display: block; margin: 20px;">{{ baseUrl }}rp/{{ newId }}</code></a>
  <p>This notice will be removed on <strong>November 15, 2015</strong>, so <strong>be sure to update your bookmarks as soon as possible!</strong> Sorry for the inconvenience.</p>
  <p>&mdash; Nigel</p>
{% endblock %}