{% extends "room.layout.html" %}

{% block content %}
  <div id="messages" class="room-feed">
    <div class="info" id="showing-latest" style="display:none">
      <p>These are the latest {{ postsPerPage }} posts.
      To view earlier messages, check the <a href="{{ docroot }}rp/{{ room }}/1">archive</a>.</p>
    </div>
    <div class="info" id="empty-room" style="display:none">
      <p><b>Success!</b></p>
      <p>The RP {% if title %}&quot;{{ title }}&quot;{% endif %} has been created. Just share this link with some friends, and you can all start roleplaying together, in real time!</p>
      <a id="friend-link"></a>
      <script>
        document.getElementById('friend-link').innerHTML = window.location.href;
        document.getElementById('friend-link').href = window.location.href;
      </script>
      <p>Please keep the following things in mind, however:</p>
      <ol>
        <li><b>Don't lose the link to this room!</b> If you can't find it, you won't be able to find this room again!</li>
        <li>Anyone with a link to this room can play here. <b>Be careful who you share it with!</b></li>
        <li><b>Don't post any sensitive information here!</b> In the event of a database breach, we would not want anything confidential to be lost.</li>
        <li>RPNow is currently under development, so there's a small chance your stories could be unexpectedly lost &mdash; so, just in case, you can download a copy of the entire RP by clicking the <b>Export</b> link up top.</li>
      </ol>
      <p>Have fun!</p>
    </div>
    <div class="info" id="loading">
      <p>Loading...</p>
    </div>
  </div>

  <div id="character-menu" style="display:none">
    <h3>Characters</h3>
    <ul id="special-characters">
      <li id="narrator-button"><a href="#">Narrator</a></li>
      <li id="ooc-button"><a href="#">Out of Character</a></li>
    </ul>
    <ul id="normal-characters"></ul>
    <button type="button" id="new-character-button">New Character...</button>
  </div>

  <form id="new-character" class="form-box" autocomplete="off" style="display:none">
    <h3>New Character</h3>
    <div class="input-section">
      <div class="input-name">Name</div>
      <div class="input-container"><input type="text" name="name" maxlength="30"></input></div>
    </div>
    <div class="input-section">
      <div class="input-name">Color</div>
      <div class="input-container"><input type="color" name="color" value="#DDDDDD"></input></div>
    </div>
    <input type="submit" value="Add"></input>
    <button type="button" id="cancel-character">Cancel</button>
  </form>

  <div id="message-box" autocomplete="off" style="display:none">
    <div id="format-bar">
      <div id="message-voice"></div>
      <button type="button" id="change-character" class="btn-margin"><span>Change...</span></button>
      <a type="button" id="show-format-guide" class="btn-margin" href="{{ docroot }}format" target="_blank"><span>?</span></a>
    </div>
    <div id="message-bar">
      <div id="message-text">
        <textarea name="content"></textarea>
      </div>
      <div id="message-button-container">
        <button type="button" id="send-button">Send</button>
      </div>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js'></script>
  <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/spectrum/1.6.1/spectrum.min.css' />
  <script src='//cdnjs.cloudflare.com/ajax/libs/spectrum/1.6.1/spectrum.min.js'></script>
  <script src='{{ docroot }}rp.js?v={{ version }}'></script>

  <script>
    // load rp and attach events
    var rp = new RP('{{ room }}');
    var chat = rp.chat();

    var setVoice;
    (function() {
      var voice;
      Object.defineProperty(window, 'voice', { get: function() { return voice; } });
      setVoice = function(v) {
        if(typeof(v) === 'string' && +v) voice = chat.getCharaById(+v);
        else if(typeof(v) === 'number') voice = chat.getCharaById(v);
        else voice = v;
        if(voice === 'Narrator') {
          $('#message-voice').text('Narrator');
          $('#message-box').removeClass('message-box-ooc message-box-chara').addClass('message-box-narrator');
          $('#message-box').css('background-color', '');
          $('#message-voice').css('color', '');
          localStorage.setItem(localStorageKey('last_voice'), 'Narrator');
        }
        else if(voice === 'OOC') {
          $('#message-voice').text('Out of Character');
          $('#message-box').removeClass('message-box-narrator message-box-chara').addClass('message-box-ooc');
          $('#message-box').css('background-color', '');
          $('#message-voice').css('color', '');
          localStorage.setItem(localStorageKey('last_voice'), 'OOC');
        }
        else {
          $('#message-voice').text(voice.name);
          $('#message-box').removeClass('message-box-narrator message-box-ooc').addClass('message-box-chara');
          $('#message-box').css('background-color', voice.color);
          $('#message-voice').css('color', voice.textColor);
          localStorage.setItem(localStorageKey('last_voice'), voice.id);
        }
      }
    })();

    function localStorageKey(name) {
      return 'room_' + rp.id + '_' +  name;
    }

    function showCharacterSelectMenu() {
      $('#character-menu').stop().slideDown(250);
    }
    function hideCharacterSelectMenu() {
      $('#character-menu').slideUp(250);
      $('#message-box textarea').focus();
    }
    function clickVoiceButton(evt, c) {
      setVoice(c);
      hideCharacterSelectMenu();
      evt.preventDefault();
    }

    function createOverlay() {
      $('<div/>', { id:'overlay' }).appendTo('body');
      $('#overlay').css({
        position: 'fixed',
        'background-color': 'rgba(0,0,0, 0.5)',
        top: 0,
        bottom: 0,
        right: 0,
        left: 0,
        'z-index': 599
      });
    }
    function destroyOverlay() {
      $('#overlay').remove();
    }

    function showNewCharacterMenu() {
      createOverlay();
      $('#new-character').show();
      $('#new-character input[name=name]').focus();
    }

    function hideNewCharacterMenu() {
      destroyOverlay();
      $('#new-character').hide();
    }

    function formatSentMessage(content, voice) {
      content = content.trim();

      var oocRegex = [
        /^\(\(\s*(.*[^\s])\s*\)\)$/g, // (( stuff ))
        /^\{+\s*(.*?[^\s])\s*\}+$/g, // { stuff }, {{ stuff }}, ...
        /^\/\/\s*(.*[^\s])\s*$/g // //stuff
      ];
      for(var i = 0; i < oocRegex.length; ++i) {
        var r = oocRegex[i];
        var match = r.exec(content);
        if(match) {
          content = match[1];
          voice = 'OOC';
          break;
        }
      }

      // replace linebreak codes with actual linebreak
      content = content.replace(/(\\r\\n|\\n\\r|\\r|\\n|\&lt;br(?: ?\/)?\&gt;)/g, '\n');

      if(!content) return;
      return { content: content, voice: voice };
    }

    function sendMessage() {
      var msgData = formatSentMessage(
        $('#message-box textarea').val(),
        voice
      );

      if(!msgData) return;
      chat.sendMessage(msgData.content, msgData.voice);

      // clear message box
      $('#message-box textarea').val('');
    }

    function scrollToBottom() {
      $('html, body').stop().animate({scrollTop: $(document).height()}, 500);
    }

    var alertNoise = new Audio('../assets/alert.mp3');

    var flashTitle = (function() {
      var oldTitle = document.title;
      var alertMsg = null;
      var i = 0;
      var informTimer = null;
      function timerAction() {
        if(i%2) document.title = oldTitle;
        else document.title = alertMsg;
        --i;
        if(i >= 0) informTimer = setTimeout(timerAction, 500);
      }
      document.addEventListener('visibilitychange', function(evt) {
        if(document.visibilityState === 'visible') {
          clearTimeout(informTimer);
          document.title = oldTitle;
        }
      });
      return function(msg, flashes) {
        if(document.visibilityState === 'visible') return;
        i = (flashes===undefined? 1: flashes)*2;
        if(informTimer) clearTimeout(informTimer);
        alertMsg = msg;
        timerAction(msg);
      };
    })();

    $(document).ready(function() {

      chat.onLoad(function(msgs, charas) {
        $('#loading').hide();
        for(var i = 0; i < msgs.length; ++i) {
          $('#messages').append(msgs[i].createElement('relative'));
        }
        if(chat.msgCount > chat.maxMsgs) {
          $('#showing-latest').show();
        }
        else if(chat.msgCount === 0) {
          $('#empty-room').show();
        }
        for(var i = 0; i < charas.length; ++i) {
          (function(c) {
            $('#character-menu ul#normal-characters').append(
              $('<li/>').append(
                c.createButton(function(evt) { clickVoiceButton(evt, c); })
              )
            );
          })(charas[i]);
        }
        setVoice(
          localStorage.getItem(localStorageKey('last_voice'))
          || 'Narrator'
        );
        $('#message-box').slideDown(250);
      });
      chat.onMessage(function(msg) {
        $('#messages').append(msg.createElement('relative'));
        while($('#messages .message').length > chat.maxMsgs) {
          $('#showing-latest').show();
          $('#empty-room').hide();
          $('#messages .message:first').remove();
        }
        scrollToBottom();
        // do an alert if the tab isn't in focus
        if(document.visibilityState === 'hidden') {
          var alertText;
          if(msg.type === 'Character') alertText = '* ' + msg.chara.name + ' says...';
          else if(msg.type === 'Narrator') alertText = '* The narrator says...';
          else if(msg.type === 'OOC') alertText = '* OOC message...';
          flashTitle(alertText, 3);
          alertNoise.play();
        }
      });
      chat.onChara(function(chara) {
        $('#character-menu ul#normal-characters').append(
          $('<li/>').append(
            chara.createButton(function(evt) { clickVoiceButton(evt, chara); })
          )
        );
      });
      /*
      chat.onUpdateMessage(function(update) {
      });
      chat.onUpdateChara(function(update) {
      });
      */

      // button functions
      $('#character-menu li#narrator-button a').click(function(evt) { clickVoiceButton(evt, 'Narrator'); });
      $('#character-menu li#ooc-button a').click(function(evt) { clickVoiceButton(evt, 'OOC'); });
      $('#message-box button#change-character').click(function(evt) {
        evt.preventDefault();
        showCharacterSelectMenu();
      });
      $('#new-character-button').click(showNewCharacterMenu);
      $('#cancel-character').click(hideNewCharacterMenu);
      $('#send-button').click(sendMessage);
      $('#new-character').submit(function(evt) {
        evt.preventDefault();

        var name = $('#new-character input[name=name]').val().trim();
        if(!name) throw new Error('Please enter a name.');
        var color = $('#new-character input[name=color]').val();

        $('#new-character').hide();

        chat.sendChara(name, color, function() {
          $('#new-character')[0].reset();
          $('#overlay').remove();
        });
      });
      $('#message-box textarea').keypress(function(evt) {
        if((evt.keyCode || evt.which) === 13 && !evt.shiftKey && !evt.ctrlKey) {
          evt.preventDefault();
          sendMessage();
        }
      });

      chat.load();
    });
  </script>
{% endblock %}