<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ title }}{% endblock %} - RPNow</title>
  <link rel="stylesheet" type="text/css" href="{{ docroot }}room.css?v={{ version }}">
</head>
<body class="rp">
  <header class="rp-titlebar">
    <div>
      <a class="logo" href="{{ docroot }}">RPNow</a>
      <a href="{{ docroot }}rp/{{ room }}"><h2>{{ title }}</h2></a>
      <ul id="title-links">
        <li{% if pageSelected == 'home' %} class="selected"{% endif %}><a href="{{ docroot }}rp/{{ room }}">Roleplay</a></li>
        <li{% if pageSelected == 'archive' %} class="selected"{% endif %}><a href="{{ docroot }}rp/{{ room }}/1">Archive</a></li>
        <li{% if pageSelected == 'stats' %} class="selected"{% endif %}><a href="{{ docroot }}rp/{{ room }}/stats">Stats</a></li>
        <li{% if pageSelected == 'export' %} class="selected"{% endif %}><a href="{{ docroot }}rp/{{ room }}/export">Export</a></li>
      </ul>
    </div>
  </header>
  {% if desc %}
  <div id="rp-description">
    <p>{{ desc }}</p>
  </div>
  {% endif %}
  {% block content %}
  {% endblock %}
  <script src="{{ docroot }}motd.js?v={{ version }}"></script>
</body>
</html>