<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ title }}{% endblock %} - RP Now</title>
  <link rel="stylesheet" type="text/css" href="{{ docroot }}room.css?v={{ version }}">
</head>
<body>
  <header>
    <h2>{{ title }}</h2>
    <p>{{ desc }}</p>
    <div id="title-links">
      <a href="{{ docroot }}rp/{{ room }}">Home</a> |
      <a href="{{ docroot }}rp/{{ room }}/1">Archive</a> |
      <a href="{{ docroot }}rp/{{ room }}/export">Export</a> |
      <a href="{{ docroot }}rp/{{ room }}/stats">Stats</a> |
      <a href="{{ docroot }}">New RP</a>
    </div>
  </header>

  {% block content %}
  {% endblock %}
  <script src="{{ docroot }}motd.js?v={{ version }}"></script>
</body>
</html>