{% extends "article.layout.html" %}

{% block title %}Privacy &amp; Terms{% endblock %}
{% block description %}RPNow terms of use and privacy policy.{% endblock %}

{% block content %}
  <h1>Privacy &amp; Terms</h1>
  <p>By using RPNow, you agree to the terms listed in this document. This document was last updated on March 21, 2016.</p>
  <h2 id="contents">Contents</h2>
  <ol>
  <li><a href="#definitions">Definitions</a></li>
  <li><a href="#change-terms">Modifications to this Agreement</a></li>
  <li><a href="#terms-of-use">Terms of Use</a></li>
  <li><a href="#your-rights">Your Rights</a></li>
  <li><a href="#privacy">Privacy</a></li>
  <li><a href="#warranty">Warranty</a></li>
  </ol>
  <h2 id="definitions">1. Definitions</h2>
  <ul>
  <li>&quot;We&quot; or &quot;our&quot; refers to the administrator(s) of this site.</li>
  <li>&quot;You&quot; refers to everyone who uses this site.</li>
  <li>&quot;This site&quot; refers to the website on which the RPNow service his hosted.</li>
  <li>&quot;RPNow&quot; refers to the service itself.</li>
  <li>&quot;RP&#39;s&quot; or &quot;roleplays&quot; refers to the stories and their characters that are written on this site.</li>
  <li>&quot;Consent&quot; refers to explicit permission given in written or typed form.</li>
  </ul>
  <h2 id="change-terms">2. Modifications to this Agreement</h2>
  <p>We reserve the right to modify this Agreement by posting a revised Agreement. Because no contact information for our users is stored, we will provide notice to you that this Agreement has changed by notifying users through RPNow. Continued use of the service implies that you agree to the revised version of this Agreement.
  <h2 id="terms-of-use">3. Terms of Use</h2>
  <p>RPNow is a service we provide free of charge. As such, we ask that you follow a few rules.</p>
  <ul>
  <li>Do not use this service to harrass others in any way.</li>
  <li>Do not engage in, promote, encourage, or otherwise involve yourselves in illegal activity through this website.</li>
  <li>Do not use this site if you are under 13 years old.</li>
  </ul>
  <p>Failure to follow these guidelines may result in roleplays being deleted without notice. If necessary, the appropriate authorities will be contacted.</p>
  <p>We reserve the right to change these terms at any time.</p>
  <h2 id="your-rights">4. Your Rights</h2>
  <p>We understand that as you write stories and develop characters on our website, there&#39;s a certain amount of trust you must place in us. We recognize that your original work belongs to you. We will not steal your original characters, stories, or any other original work. We won&#39;t try to sell or publish your works. We won&#39;t even display them in a public place without your consent.</p>
  <h2 id="privacy">5. Privacy</h2>
  <p>RPNow is inherently anonymous. The only personal information that we have access to is whatever you type into the chat, and the IP address through which you visit and use the site.</p>
  <p>We will not disclose any of this information to any third parties. We may, however, occasionally monitor a few randomly selected roleplays. We want to undertsand how people are using this site, so that we can improve it to better suit your needs. We also must moderate the content on our site, to ensure the service is not used for any purposes which violate our terms of service. We may also generate statistical information which we may display publicly; however, no publicly available statistics will include specific content from individual roleplays unless we first get your consent.</p>
  <p>We have taken multiple precautions to ensure that your data is secure, such as using SSL encryption and being very careful to prevent common web service attacks. However, as with any web service, there is always a small possibility of RPNow's security being compromised. If we become aware of any security breach, we will let you know within 48 hours. Because we do not collect e-mail addresses or any other methods of contact for our users, we will post an announcement on the front page of this site, as well as on the individual RP pages. We ask that our users avoid posting sensitive or personally identifying content in their RPs, to ensure that nothing of that nature is found, should an attacker breach the site's defenses.</p>
  <p>Other than that, RPs are only as private as you keep them&mdash; anyone who has a link to your RP will be able to post to it, as well as view the entirety of its contents. We advise you to be cautious of how and with whom you share the URL for your RP. If, through no fault of our own, any unintended persons discover a link you posted to your RP, we will not be responsible for any damages caused. By sharing your roleplay's URL in any publicly viewable space, you waive our responsibility for any damages that any unintended participants may cause.</p>
  <h2 id="warranty">6. Warranty</h2>
  <p>This site and the RPNow service are provided &quot;as is&quot; without warranty of any kind, either express or implied, including without limitation any implied warranties of condition, uninterrupted use, merchantability, fitness for a particular purpose, or non-infringement.</p>
  <p>In other words, by using RPNow you understand that, although we do our best to keep the service running smoothly, securely, and consistently, we make no legally binding promises regarding this. You also waive our legal responsibility for any damages that may occur as a result of any failure on the part of RPNow, as much as is permitted by law.</p>
  <p>We encourage our users to use the &quot;Export&quot; functionality of our site. This allows users to download copies of their roleplays in the form of plain text files. However, this functionality is included under the previously mentioned warranty. If you use this function of RPNow, you should verify yourself that these text files contain all the contents you expect them to.</p>
{% endblock %}