<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[PAGE {{ page }}] {{ title }} - RP Now</title>
    <link rel="stylesheet" type="text/css" href="{{ docroot }}room.css">
    {% if numpages > 0 %}
    <script src='{{ docroot }}room.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
    <script>
      $(document).ready(function() {
        RPRoom('{{ docroot }}{{ room }}').loadPage({{ page }});
      });
    </script>
    {% endif %}
  </head>
  <body>
    {% include 'title.html' %}
    {% if numpages == 0 %}
    <p>This RP has no content. Why not go back and <a href="{{ docroot }}{{ room }}">start writing</a>?</p>
    {% else %}
    {% include 'pages.html' %}
    <div id="messages">
      <div class="info" id="loading">
        <p>Loading...</p>
      </div>
    </div>
    {% include 'pages.html' %}
    {% endif %}
  </body>
</html>