{% macro cssClass(character) %}chara-{{ character.Name|e('css')|replace({' ':''})|replace({'\\':'--'}) }}{% endmacro %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>[PAGE {{ page }}] {{ title }} - RP Server</title>
    <link rel="stylesheet" type="text/css" href="/room.css">
    <style>
      {% for character in characters if character.Name != "Narrator" %}
        .{{ _self.cssClass(character) }} {
          background-color: {{ character.Color }};
          color: {{ character.Contrast }};
        }
      {% endfor %}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        $('.character a').click(function(evt) {
          $('#mb-name').val(evt.target.text.trim());
        });
      });
    </script>
  </head>
  <body>
    {% include 'title.html' %}
    {% include 'pages.html' %}
    <div id="messages">
      {% for message in messages %}
        <div class="message {{ _self.cssClass(message) }}">
          <div class="name">{{ message.Name }}</div>
          <div class="content">{{ message.Content|nl2br }}</div>
        </div>
      {% else %}
        <p>Our story begins...</p>
      {% endfor %}
    </div>
    {% include 'pages.html' %}
  </body>
</html>