{% macro cssClass(character) %}chara-{{ character.Name|e('css')|replace({' ':''})|replace({'\\':'-'}) }}{% endmacro %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[PAGE {{ page }}] {{ title }} - RP Now</title>
    <link rel="stylesheet" type="text/css" href="{{ docroot }}room.css">
    <style>
      {% for character in characters if character.Name != "Narrator" %}
        .{{ _self.cssClass(character) }} {
          background-color: {{ character.Color }};
          color: {{ character.Contrast }};
        }
      {% endfor %}
    </style>
  </head>
  <body>
    {% include 'title.html' %}
    {% if numpages == 0 %}
      <p>This RP has no content. Why not go back and <a href="{{ docroot }}{{ room }}">start writing</a>?</p>
    {% else %}
      {% include 'pages.html' %}
      <div id="messages">
        {% for message in messages %}
          <div class="message {{ _self.cssClass(message) }}">
            <div class="name">{{ message.Name }}</div>
            <div class="content">{{ message.Content|nl2br }}</div>
          </div>
        {% endfor %}
      </div>
      {% include 'pages.html' %}
    {% endif %}
  </body>
</html>