<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }} - RP Server</title>
    <link rel="stylesheet" type="text/css" href="room.css">
  </head>
  <body>
    <header>
      <h2>{{ title }}</h2>
      <p>{{ desc }}</p>
      <p>
        <a href="/{{ room }}/1">Archive</a> |
        <a href="/{{ room }}/export">Export</a> |
        <a href="/{{ room }}/stats">Stats</a> |
        <a href="/">New RP</a>
      </p>
    </header>
    <div id="messages">
      {% for message in messages %}
        <div class="message message-{{ message.Name }}">
          <div class="name">{{ message.Name }}</div>
          <div class="content">{{ message.Content }}</div>
        </div>
      {% else %}
        <p>Our story begins...</p>
      {% endfor %}
    </div>
    <div id="characters">
      {% for character in characters %}
        <div class="character character-{{ character.Name }}">
          <a href="#" style="color: {{ character.Color }}">{{ character.Name }}</a>
        </div>
      {% endfor %}
      <div id="new-character">
        <form id="char-form" action="/{{ room }}/character" method="post">
          New Character: <input type="text" name="name"></input>
          Color: <input type="color" name="color"></input>
          <input type="submit" value="Add"></input>
        </form>
      </div>
    </div>
    <form id="message-box" action="/{{ room }}/send" method="post">
      <input type="hidden" name="name" value="Narrator"></input>
      <table>
        <tr>
          <td id="input-col"><textarea name="content"></textarea></td>
          <td id="button-col"><input type="submit" value="Send"></input></td>
        </tr>
      </table>
    </form>
  </body>
</html>