{% macro cssClass(character) %}chara-{{ character.Name|e('css')|replace({' ':''})|replace({'\\':'-'}) }}{% endmacro %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }} - RP Server</title>
    <link rel="stylesheet" type="text/css" href="/room.css">
    <style>
      {% for character in characters if character.Name != "Narrator" %}
        .{{ _self.cssClass(character) }} {
          background-color: {{ character.Color }};
          color: {{ character.Contrast }};
        }
      {% endfor %}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      function cssName(name) {
        return 'chara-' + name.replace(/[^0-9a-zA-Z]/g, function(x) { return '-' + x.charCodeAt(0).toString(16).toUpperCase(); });
      }
      function clickCharaButton(evt) {
        $('#mb-name').val(evt.target.text.trim());
        evt.preventDefault();
      }
      function getContrastYIQ(hexcolor){
        var r = parseInt(hexcolor.substr(1,2),16);
        var g = parseInt(hexcolor.substr(3,2),16);
        var b = parseInt(hexcolor.substr(5,2),16);
        var yiq = ((r*299)+(g*587)+(b*114))/1000;
        return (yiq >= 128) ? 'black' : 'white';
      }
      $(document).ready(function() {
        $('.character a').click(clickCharaButton);
        $('#message-box').submit(function(evt) {
          $.ajax({
            type: 'POST',
            url: '/{{ room }}/send',
            data: $('#message-box').serialize(),
          });
          evt.preventDefault();
        });
        $('#char-form').submit(function(evt) {
          evt.preventDefault();
          $.ajax({
            type: 'POST',
            url: '/{{ room }}/character',
            data: $('#char-form').serialize(),
          });
        });
        var timer;
        var numMsg = {{ messageCount }};
        var numChar = {{ characterCount }};
        function update() {
          $.ajax({
            type: 'GET',
            url: '/{{ room }}/updates',
            data: { characters: numChar, messages: numMsg },
            success: function(data) {
              // update messages
              for(var i = 0; i < data.messages.length; ++i) {
                if($('.message').length >= {{ postsPerPage }}) {
                  $('.message').slice(0,1).remove();
                }
                $('<div/>', {
                  'class': 'message ' + cssName(data.messages[i].Name)
                }).append(
                  $('<div/>', {
                    'class': 'name',
                    text: data.messages[i].Name
                  })
                ).append(
                  $('<div/>', {
                    'class': 'content',
                    text: data.messages[i].Content
                  })
                ).appendTo('#messages');
              }
              // update characters
              for(var i = 0; i < data.characters.length; ++i) {
                $('<div/>', {
                  'class': 'character'
                }).append(
                  $('<a/>', {
                    href: '#',
                    'class': cssName(data.characters[i].Name),
                    text: data.characters[i].Name
                  })
                ).insertAfter($('#characters .character').last())
                .click(clickCharaButton);
                // as well as giving them css
                $('head').append(
                  $('<style/>', {
                    text: '.' + cssName(data.characters[i].Name)
                      + "{ background-color: " + data.characters[i].Color + "; "
                      + "color: " + getContrastYIQ(data.characters[i].Color) + "; }"
                  })
                );
              }
              // done. prepare for next load
              numMsg += data.messages.length;
              numChar += data.characters.length;
              timer = setTimeout(update, 1000);
            }
          });
        }
        timer = setTimeout(update, 1000);
      });
    </script>
  </head>
  <body>
    {% include 'title.html' %}
    <div id="messages">
      {% for message in messages %}
        <div class="message {{ _self.cssClass(message) }}">
          <div class="name">{{ message.Name }}</div>
          <div class="content">{{ message.Content|nl2br }}</div>
        </div>
      {% else %}
        <p>Our story begins...</p>
      {% endfor %}
    </div>
    <div id="characters">
      {% for character in characters %}
        <div class="character">
          <a href="#" class="{{ _self.cssClass(character) }}">
            {{ character.Name }}
          </a>
        </div>
      {% endfor %}
      <div id="new-character">
        <form id="char-form" action="/{{ room }}/character" method="post">
          New Character: <input type="text" name="name"></input>
          Color: <input type="color" name="color" value="#FFFFFF"></input>
          <input type="submit" value="Add"></input>
        </form>
      </div>
    </div>
    <form id="message-box" action="/{{ room }}/send" method="post">
      <table>
        <tr>
          <td colspan="2"><input type="text" name="name" id="mb-name" value="Narrator"></input></td>
        </tr>
        <tr>
          <td id="input-col"><textarea name="content"></textarea></td>
          <td id="button-col"><input type="submit" value="Send"></input></td>
        </tr>
      </table>
    </form>
  </body>
</html>