<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }} - RP Server</title>
    <link rel="stylesheet" type="text/css" href="common.css">
  </head>
  <body>
    <div id="header">
      <h2>{{ title }}</h2>
      <p>{{ desc }}</p>
    </div>
    <div id="messages">
      {% for message in messages %}
        <div>{{ message.Name }}: {{ message.Content }}</div>
      {% else %}
        <p>Our story begins...</p>
      {% endfor %}
    </div>
    <form action="/{{ room }}/send" method="post">
      <input type="hidden" name="name" value="Narrator"></input>
      <input type="text" name="content"></input>
      <input type="submit" value="Send"></input>
    </form>
  </body>
</html>