<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[STATS] {{ title }} - RP Server</title>
    <link rel="stylesheet" type="text/css" href="{{ docroot }}room.css">
  </head>
  <body>
    {% include 'title.html' %}
    <h3>Stats</h3>
    <ul id="stats">
      <li>{{ MessageCount }} messages logged.</li>
      <li>{{ CharacterCount }} characters exist.</li>
      <li>First message sent {{ FirstMessageDate }}.</li>
      <li>Most recent message sent {{ LatestMessageDate }}.</li>
      <li>What other stats would be interesting?</li>
    </ul>
  </body>
</html>